@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Staatliches&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.home_margin{
  margin: 100px !important;
}
.container {
  max-width: 1577px !important;
  margin-left: auto;
  margin-right: auto;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flag_design {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  gap: 2px;
  padding: 5px 8px;
  border-radius: 19px !important;
  color: #5E6E78;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  /* 130.769% */
  height: 24px;
  position: relative;
  cursor: pointer;

}


.flag_design img {
  height: 10px;
  width: 10px;
}

.hover_red_text {
  visibility: hidden;
  transition: 0.3s ease-in;
  opacity: 0;
  position: absolute;
  top: -85%;
  left: 84%;
  white-space: nowrap;
  color: #FFF !important;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  border-radius: 19px;
  background: rgba(246, 52, 52, 0.80) !important;

  line-height: 17px;
  padding: 2px 8px;
}

.yellow_parent {
  position: relative;
  cursor: pointer;
}

.yellow_text {
  position: absolute;
  top: -211%;
  left: 90%;
  padding: 5px 8px;
  border-radius: 19px;
  background: #FFB849;
  color: #FFF;
  font-family: Montserrat;
  font-size: 13px !important;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  white-space: nowrap;
  visibility: hidden;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.3s ease-in;
}


.yellow_text1 {
  position: absolute;
  top: -211%;
  left: 50%;
  padding: 5px 8px;
  border-radius: 19px;
  background: #FFB849;
  color: #FFF;
  font-family: Montserrat;
  font-size: 13px !important;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in;

}

.question_hover:hover .yellow_text1 {
  visibility: visible !important;
  opacity: 1;
}

.question_hover:hover .yellow_text {
  visibility: visible !important;
  opacity: 1;
}

.red_hover_tool:hover .hover_red_text {
  visibility: visible;
  opacity: 1;
}

.border_right {
  width: 1.1px !important;
  height: 18px !important;
  border-radius: 100px !important;
  background: rgba(94, 110, 120, 0.30);
}

.question_parent {
  position: relative;
}

.question_parent1 {
  position: relative;
}

.question_image {
  position: absolute;
  right: -0%;
  top: -90%;
  width: 12px !important;
  height: 12px !important;
}

.question_image1 {
  position: absolute;
  left: 45%;
  top: -90%;
  width: 12px !important;
  height: 12px !important;
}

.red_text_parent small {
  position: absolute;
  left: 8%;
  z-index: 999999;
}

.dot_container {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 7px;
  margin-top: 6px;
}

.dot_container small {
  border-radius: 19px;
  background: rgba(94, 110, 120, 0.80);
  color: rgba(255, 255, 255, 0.80);
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  /* 130.769% */
  padding: 5px 8px;
  height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_p {
  color: rgba(0, 0, 0, 0.75);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  /* 121.429% */
  text-transform: uppercase;
}

.dot_hover {
  display: flex;
  justify-content: center;
  align-items: center !important;
  gap: 6.5px;
}

.dot_hover_element {
  display: flex;
  flex-direction: row;
  gap: 5px;
  transition: 0.3s ease-in;
}

.dot_hover .dot_hover_element {
  visibility: hidden;
  opacity: 0;
}

.dot_hover .dot_image:hover+.dot_hover_element {
  visibility: visible;
  opacity: 1;
}

.small_visible {
  display: none;
}

@media (max-width:768px) {
  .small_none {
    display: none;
  }

  .small_visible {
    display: block;
  }

  .projects__body__container__left__card__body2__specs__desc {
    margin-top: 4px !important;
  }
  .home_margin{
    margin: 0px !important;
  }
}